<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
		
 <add 
    name="SQLconnection" 
    connectionString="Data Source=DAKIN-NB\DAKINSQL2008R2;
    Initial Catalog=caltex;Persist Security Info=True;
    User ID=sa;Password=dakinsql2008"
    providerName="System.Data.SqlClient"
    
  />
  
 <add 
    name="INC_SVH_connection" 
    connectionString="Data Source=10.104.17.13;
    Initial Catalog=PTSYS;Persist Security Info=True;
    User ID=osa2;Password=osa2"
    providerName="System.Data.SqlClient"
    
  />

	</connectionStrings>
</configuration>